body{
    display: flex;
    flex-direction: column;
}


.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 10px 0;



        &__floors{
            margin: 0 15px;
        }

        &__tools{
            margin: 0 15px;
        }



        .btn {
            background-color: #EA4C89;
            border-radius: 8px;
            border-style: none;
            box-sizing: border-box;
            color: #FFFFFF;
            cursor: pointer;
            display: inline-block;
            font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 14px;
            font-weight: 500;
            height: 40px;
            line-height: 20px;
            list-style: none;
            margin: 0;
            outline: none;
            padding: 10px 16px;
            position: relative;
            text-align: center;
            text-decoration: none;
            transition: color 100ms;
            vertical-align: baseline;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
        
            &:hover{
                background-color: #F082AC;
            
            }

            
        }

        
        .layer-tool{
            background-color: #dfdf0d;

            &:hover{
                background-color: #e9e975;
            }

            
        
        }
        
       

        
.btn-toggle{
    background-color: #6c6969;
}
}


.workspace{
    display: flex;
    height: calc(100vh - 50px);

    .canvas-container{
        position: relative;
    }


    &__canvas-wrapper{
        flex-grow: 1;
    }

    &__sidebar-select{
        display: flex;
        flex-direction: column;
    }
}